<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- 参数配置 robot_name指向flapping_platform_moveit_config下的config下的rml_63 -->
  <xacro:arg name="robot_name" default="flapping_platform"/>
  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="initial_positions_file" default="$(find flapping_platform_moveit_config)/config/gazebo/initial_positions.yaml" />
  <xacro:property name="prefix" value="arm1_"/>
  <xacro:property name="link6_type" value="Link6_6fb"/>
  <xacro:property name="base_type" value="base_link_III"/>
  
  <!-- 导入机械臂和平台的urdf -->
  <xacro:include filename="$(find flapping_platform_description)/urdf/mech/rml_63.urdf.xacro" />
  <xacro:rml_63_arm
    prefix="${prefix}"
    link6_type_val="${link6_type}"
    base_type_val="${base_type}"/>
  <xacro:include filename="$(find flapping_platform_description)/urdf/mech/platform.urdf.xacro" />
  <!-- 各部件连接关系 -->
  <xacro:include filename="$(find flapping_platform_description)/urdf/mech/joint.urdf.xacro"/>
  <xacro:joint
    prefix="${prefix}"/>
  <!-- gazebo配置 -->
  <xacro:include filename="$(find flapping_platform_description)/urdf/control/gazebo_sim_ros2_control.urdf.xacro" />
  <xacro:load_gazebo_sim_ros2_control_plugin
    robot_name="$(arg robot_name)"
    use_gazebo="$(arg use_gazebo)"/>
  <!-- Import control_xacro -->
  <xacro:include filename="$(find flapping_platform_description)/urdf/control/flapping_platform_gazebo.ros2_control.xacro" />
  <xacro:flapping_platform_ros2_control 
    use_gazebo="$(arg use_gazebo)"
    initial_positions_file="$(arg initial_positions_file)"/>
</robot>